<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xiaolin">
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- wifi权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- dialog权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于提高GPS定位速度-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <!-- 相机权限-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <!-- **************************************************极光权限设置开始**************************************************-->
    <!-- Required -->
    <permission
        android:name="com.xiaolin.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.xiaolin.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- **************************************************极光权限设置结束**************************************************-->

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_normal">

        <!-- ****************************************高德地图配置 开始**********************************************-->

        <!-- 高德设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1e67cff4c7dbe79ee12bd11b95d5ff3a"/>

        <!-- 高德定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"/>
        <!-- ****************************************高德地图配置 结束**********************************************-->


        <!-- ****************************************登录**********************************************-->
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/TranslucentAppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>

        <!-- ****************************************主界面**********************************************-->
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/TranslucentAppTheme.NoActionBar">


        </activity>
        <!-- ****************************************修改密码界面**********************************************-->
        <activity
            android:name=".ui.ChangePassWordActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_normal.NoActionBar">

        </activity>
        <!-- ****************************************地图定位界面**********************************************-->
        <activity
            android:name=".ui.MapLocationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_normal.NoActionBar">

        </activity>

        <!-- ****************************************访客记录界面**********************************************-->
        <activity
            android:name=".ui.VisitorActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_normal.NoActionBar">

        </activity>

        <!-- ****************************************访客详情界面**********************************************-->
        <activity
            android:name=".ui.VisitorDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_normal.NoActionBar">

        </activity>
        <!-- ****************************************添加访客界面**********************************************-->
        <activity
            android:name=".ui.VisitorAddActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_normal.NoActionBar">

        </activity>
        <!-- ****************************************考勤日期记录界面**********************************************-->
        <activity
            android:name=".ui.AttendDayActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_normal.NoActionBar">

        </activity>
        <!-- ****************************************考勤月记录界面**********************************************-->
        <activity
            android:name=".ui.AttendMonthActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_normal.NoActionBar">

        </activity>

        <!-- **************************************************极光application配置开始**************************************************-->
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.xiaolin"/>
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>
                <category android:name="com.xiaolin"/>
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>   <!--Required  显示通知栏 -->
                <category android:name="com.xiaolin"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="694bc08f988e75a5f51a4d35"/> <!--  </>值来自开发者平台取得的AppKey-->

        <!-- **************************************************极光application配置结束**************************************************-->
    </application>

</manifest>